<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chase Zimmerman</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Software Engineer &amp; Raspberry Pi Lover based in NYC!">
	<meta name="author" content="Chase Zimmerman">
	<meta name="keywords" content="Chase Zimmerman, Chase Zimmy, Python, Raspberry Pi, PHP, JavaScript, HTML,CSS">
	<meta name="google-site-verification" content="_2OMN_H7FtSg1OG1ReWuBl1rHfj37E5SXOZAyCx5GlE" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='err.css')}}">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<br />
<div class="container has-text-centered ">
	<h1><a id="quote" href='https://youtu.be/kfFfHP8zmQY?t=18'>Uh, I'm somewhere where I don't know where I am.</a></h1>
	<br>
	<a href='/'>404 - Return Home</a>
	<br>
	<span>{{face}}</span>
</div>
</body>
</html>