<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12127454-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-12127454-7');
    </script>

	<title>Chase Zimmerman</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Software Engineer &amp; Raspberry Pi Lover based in NYC!">
	<meta name="author" content="Chase Zimmerman">
	<meta name="keywords" content="Chase Zimmerman, Chase Zimmy, Python, Raspberry Pi, PHP, JavaScript, HTML,CSS">
	<meta name="google-site-verification" content="_2OMN_H7FtSg1OG1ReWuBl1rHfj37E5SXOZAyCx5GlE" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

<!-- We can only see a short distance ahead, but we can see plenty there that needs to be done.
		- Alan Turing -->