{% include 'header.html' %}

	<div class="container" id="home">
		<br />
		<div class="tile mondrian">
			<div class="tile is-vertical is-7">
				<div class="tile outer">
					<article class="tile inner card top-left">
						<p class="title">Chase Zimmerman</p>
						<p class="subtitle">Software Developer<span class="is-hidden-mobile">, Web Scraper,</span> and Raspberry Pi Lover in NYC</p>
						<div class="content">
							<h3><a href="mailto:chasezimmy@gmail.com" target="_blank">chasezimmy@gmail.com</a></h3>
							<h3><a href="https://docs.google.com/document/d/1fi7suoBrx-Vte4mSTbk-CMuuyrU4QkvY4UHiA01As5o/edit?usp=sharing" target="_blank">resume</a></h3>
                            <h3><a href="http://www.centralparknyc.org/?referrer=http://www.chasezimmy.com/" target="_blank">volunteering</a></h3>
						</div>
					</article>
				</div><!-- /.outer -->
				<div class="tile is-hidden-mobile">
					<div class="tile outer is-vertical">
						<article class="tile inner card middle-left has-text-centered is-unselectable">
							<span class="lenny is-hidden" id="lenny_face"></span>
						</article>
						<article class="tile inner card bottom-left is-unselectable">
						</article>
					</div>
					<div class="tile outer">
						<article class="tile inner card middle-middle is-unselectable">
							<p class="title"></p>
							<p class="subtitle"></p>						
						</article>
					</div>
				</div>
			</div><!-- /.tile -->

			<div class="tile outer">
				<article class="tile inner card long-right" id="work">
					<div class="content">
						<p class="title">Work</p>
						<p class="subtitle">From freelance to cubicle</p>
						
						<ul class="scroll" id="tile-work">
							{% for job in work %}
							<li class="project">
								<a href="{{job.url}}">{{job.company}}</a><em>&#47;&nbsp;{{job.title}}</em>
								<ul class="description">
									<li><span>{{job.description}}</span></li>
									<li><span><i>{{ ', '.join(job.stack)}}</i></span></li>
								</ul>
							</li>
							<hr >
							{% endfor %}	
						</ul>

					</div><!-- /.content -->
				</article>
			</div><!-- /.outer -->
		</div><!-- /.mondrian -->
	</div><!-- /.container -->
	
{% include 'footer.html' %}